.section-transfer {
    padding: 5rem 0;

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 2rem;
    }

    .btn-primary {
        font-size: 0.875rem;
        width: 10rem;
    }
    

    .section-box-1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                i {
                    color: var(--brand-primary);
                }
            }
        }

        
    }

     /* .section-box-2 {
         width: 500px;
         height: 500px;
     } */

    .section-box-4 {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .card-container {
            display: flex;
            gap: 2rem;
            max-width: 30rem;

            img {
                padding: 1rem;
                background-color: var(--gray-200);
                border-radius: 8px;
                margin-bottom: 1rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .section-transfer {
        display: none;
    }
}