
#root {
    transition: all 1.5s ease;
}

.container {
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--brand-primary);
    color: #fff;
    border-radius: 8px;
    padding: 12px 25px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s;

    i {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    &:hover {
        cursor: pointer;
        color: #dbe6ff;
    }
}

@media (min-width: 768px) {
    .container {
        /* padding: 0 3rem; */
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }    
}
