.accordion {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    /* padding: 1rem; */

    article {
        background-color: var(--clr-card-bg);
        border: 1px solid var(--clr-border-accordion);
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
        /* box-shadow: var(--box-shadow-small); */
    }
    
    article:has(.show) > .article-title i {
        rotate: 180deg;
        background-color: var(--brand-primary);
        color: white;
    }
    
    .article-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        /* padding: 1rem; */
    
        i {
            background-color: var(--clr-seconday-bg);
            color: var(--clr-text-heading);
            padding: 0.5rem;
            border-radius: 50%;
            font-size: 0.7rem;
            transition: all 500ms;
        }

        &:hover {
            cursor: pointer;
        }
    }
    
    h3 {
        font-size: 1rem;
        text-align: left;
    }
    
    p {
        max-height: 0px;
        overflow: hidden;
        transition: all 500ms;
        text-align: left;
        font-size: 0.875rem;        
    }

    .show {
        max-height: 100px;
        margin-top: 0.5rem;
    }
}